/*
input[type='text'].nservers {
    width: 60px;
    height: 60px;
    font-size: 40px;
}*/

body {
    background: url('img/body-bg.png');
    color: #444;
    font-family: Verdana, Arial, sans-serif;
}

h1,h2,h3,h4, .ui-dialog-titlebar, dt {
    font-family: 'Oswald', sans-serif;
}

dt {
    color: #888;
}

dd {
    margin:0;
}

label {
    display: block;
}

label.check {
    display: inline;
}

#tabs-menu{
    -webkit-box-shadow:  0px 3px 6px 0px #000;        
    box-shadow:  0px 3px 6px 0px #000;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff !important;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
.button:active {
	position:relative;
	top:1px;
}

.button.danger {
	-moz-box-shadow:inset 0px 1px 0px 0px #999999;
	-webkit-box-shadow:inset 0px 1px 0px 0px #999999;
	box-shadow:inset 0px 1px 0px 0px #999999;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e84f4f), color-stop(1, #b81b2b) );
	background:-moz-linear-gradient( center top, #e84f4f 5%, #b81b2b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e84f4f', endColorstr='#b81b2b');
	background-color:#e84f4f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a8a8a8;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ad0000;
}.button.danger:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b81b2b), color-stop(1, #e84f4f) );
	background:-moz-linear-gradient( center top, #b81b2b 5%, #e84f4f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b81b2b', endColorstr='#e84f4f');
	background-color:#b81b2b;
}

.button.inactive {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bedcfa), color-stop(1, #94bae0) );
	background:-moz-linear-gradient( center top, #bedcfa 5%, #94bae0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bedcfa', endColorstr='#94bae0');
	background-color:#bedcfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}

.button.inactive:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}

#tabs input.time-pick {
    width: 2em;
    display: inline;
}

#tabs {
    border:0;
    background: transparent;
}

#tabs .ui-corner-all {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#tabs .ui-tabs-panel {
    padding: 20px;
    
    -webkit-box-shadow:  0px 3px 6px 0px #000;        
    box-shadow:  0px 3px 6px 0px #000;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(left,  #ececec 0%, #f7f7f7 8%, #f7f7f7 93%, #ececec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ececec), color-stop(8%,#f7f7f7), color-stop(93%,#f7f7f7), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ececec 0%,#f7f7f7 8%,#f7f7f7 93%,#ececec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ececec 0%,#f7f7f7 8%,#f7f7f7 93%,#ececec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ececec 0%,#f7f7f7 8%,#f7f7f7 93%,#ececec 100%); /* IE10+ */
    background: linear-gradient(to right,  #ececec 0%,#f7f7f7 8%,#f7f7f7 93%,#ececec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ececec',GradientType=1 ); /* IE6-9 */

}

#tabs .panel-heading {
    padding: 5px 0;
    margin: -20px -20px 0px -20px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    background: #61656b; /* Old browsers */
    background: -moz-linear-gradient(top,  #444444 0%, #232323 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#232323)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #444444 0%,#232323 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #444444 0%,#232323 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #444444 0%,#232323 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #444444 0%,#232323 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#232323',GradientType=0 ); /* IE6-9 */

}

#tabs .ui-tabs-panel h2 {
    margin:0;
    color: #FFFFFF;
    font-size: 1em;
    padding: 5px;
    font-weight: normal;
    font-family: Arial;
}

#tabs .ui-slider {
    margin: 5px 0;
    background: #eee;
}

#tabs .ui-slider-handle {
    background: #546e87;
}

#tabs h3 {
    text-align: center;
    font-size: 1em;
    color: #546e87;
    border-top: 1px #b2bbc4 dotted;
    margin: 10px 0 5px 0;
    padding: 5px 0 0 0;
}

#tabs input {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

#tabs input[type="checkbox"] {
    width: auto;
    display: inline;
}

#tabs .ui-tabs-active {
    background: rgb(236, 236, 236);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: transparent;
}

#js-server-load-estimator {
    max-width: 900px;
    margin: auto;
}

.break {
    float:none;
    clear:both;
}

span.percent {
    font-size: 120%;
    color:#546e87;
}

.demographic-data {
    display:block;
    clear:both;
    overflow: auto;
    border: 1px solid #aaa;
    margin-bottom: 1em;
    padding: 1em 1em 0em 1em;
}

.demographic-data .remove {
    float: right;
    position: relative;
    top: -1.3em;
}

.ui-widget {
    font-size: 1em;
}


.jsle-title h1 {
    margin: 0;
    color: #546e87;
}
.jsle-title {
    overflow:auto;
    margin: 0.5em 0;
}
.jsle-title-left {
    float:left;
}
.jsle-title-right {
    float:right;
    text-align: right;
    font-size: 70%;
    color: #aaa;
    margin-top: 23px;
}
.jsle-title-right a, .jsle-title-right a:visited {
    text-decoration: none;
    color:#546e87;
}
