/*
input[type='text'].nservers {
    width: 60px;
    height: 60px;
    font-size: 40px;
}*/

#js-server-load-estimator {
    max-width: 900px;
    margin: auto;
}

.break {
    float:none;
    clear:both;
}

span.percent {
    font-size: 120%;
}

#demo_table th {
    text-align: left;
}

#demo_table td {
    padding-right: 50px;
}
